* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: auto;
}

.form {

    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

button{
    /*background-color: rgb(241, 241, 97);*/
    background: rgb(224, 112, 112);
    color: white;
    border-radius: 10px;
    margin-right: 2px;
    padding: 0.2%;
    
}

button:hover {
    /*background-color:yellow;*/
    background: rgb(199, 198, 198);
  
    
}
}